<%-
require 'open3'
begin
    # Command to Run
    script = 'sinfo -h --format="%P"'
    # Create a partitions array to dynamically populate the queues associated with the user
    partitions = []
    # Store the output, error, status
    output, status = Open3.capture2('bash', stdin_data: script)
    # puts status
    if status.success?
        # Add it to the custom_envs array by splitting the output at '\n'. 
        output.split("\n").each do |queue|
            if queue != 'backfill'
                queue = queue.gsub("*", "")
                partitions.push(queue)
            end
        end
        puts partitions
    else
        partition_error = "Error"
    end
rescue => e
    partition_error = e.message.strip
end
-%>
---
cluster: "sol"
attributes:
  desktop: xfce
  help: |
    This will launch the [Xfce] desktop environment on the
    [Sol cluster].
    [XFCE]: https://xfce.org/
    [Sol cluster]: https://confluence.cc.lehigh.edu/x/B6H0BQ
  opsys:
    label: "Base OS"
    help: "Choose CentOS 8 unless you have been told that your application requires CentOS 7"
    widget: select
    options:
      - ["CentOS 8", "cent8"]
      - ["CentOS 7", "cent7"]
  custom_queue:
    label: "Partition"
    help: "Please select a partition from the drop-down."
    widget: select
    cacheable: false
    help: |
      - [Partition Documentation](https://hpc.nmsu.edu/discovery/home/partitions/)
    <%- if partition_error || partitions.blank?-%>   
      <div class="text-danger">Error while fetching Partition. Please contact support!</div>
    <%- else -%>
    options:
    <%- partitions.each do |q| -%>
      - [ "<%= q %>", "<%= q %>" ]
    <%- end -%>
    <%- end -%>
  bc_num_hours:
    label: "Number of hours"
    value: 1   
    min: 1
    max: 72
    help: "Maximum walltime is limited to 1 hour"
  bc_num_slots: 1
  num_cpus: 
    label: "Number of cores"
    value: 1
    min: 1
    max: 52
    help: "Maximum is 52 cores on hawkcpu"
  bc_vnc_idle: 0
  bc_vnc_resolution:
    required: true
  bc_account:
    help: "You can leave this blank if **not** in multiple allocations."
  num_gpus: 
    label: "Number of GPUs"
    value: 0
    min: 0
    max: 8
    help: "Make sure you are using the correct partition above.<br />
          lts-gpu, eng-gpu, im1080-gpu: Max 2 gpus per node,<br />
          im2080-gpu: Max 4 gpus per node,<br />
          hawkgpu: Max 8 gpus per node."
form:
  - bc_vnc_idle
  - opsys
  - desktop
  - custom_queue
  - bc_account
  - bc_num_hours
  - bc_num_slots
  - num_cpus
  - num_gpus
  - bc_vnc_resolution
  - bc_email_on_started
